@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-slate: rgb(226 232 240);
  --light-slate: rgb(203 213 225);
}

html{
  width: 100vw;
  height: 100vh;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.chat_names{
  height: calc(100vh - 21rem);
  overflow-y: scroll;
}

.chat_container{
  height: calc(100vh - 21rem);
}

.map_container{
  padding: 1rem;
  height: calc(100vh - 4.5rem);
  position: sticky;
  bottom: 0;
  right: 0;
  top: 4.5rem;
}

.container{
  width: 75%;
  margin: auto;
  @media only screen and (max-width: 1024px) {
    width: 90%;
    margin: auto;
  }
}

